body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  font-family: sans-serif;
  color: #202124;
  max-width: 1180px;
  margin: auto;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.slick-dots li.slick-active div {
  background-color: #516892 !important; /* Active dot color */
}
